body{
	font-family:georgia, times, serif;
	font-size:14px;
	color:#333;
	background:#FFF;
}

.template,.region.template{
	display:none;
}

#foot{
	font-size:0.8em;
}

.wrapper{
	position:relative;
	width:1024px;
	margin:0px auto;
}

#job_types{
	float:left;
	width:150px;
	margin:0px 7px 7px 14px;
}

#job_types .type{
	display:block;
	margin:0px 0px 3px;
}

#chart{
	float:left;
	width:830px;
	margin:0px 7px 7px;
}

.region{
	clear:both;
	display:block;
	margin:14px 0px 0px;
}

.region .title{
	margin:0px;
}

.region .display{
	height:50px;
}
.region .display .type{
	border-right:1px solid #666;
	background:#CCC;
	float:left;
	display:block;
	width:5px;
	height:50px;
}
.region .display .type.selected{
	background-color:#85bbcf;
}

#add_new{
	clear:both;
	margin:21px 0px 0px;
}