body{
	font-family:georgia, times, serif;
	font-size:14px;
	color:#333;
	background:#FFF;
}

.tempalte{
	display:none;
}

#foot{
	font-size:0.8em;
}

.wrapper{
	margin:0px auto;
	position:relative;
	width:850px;
}